table {
    border-spacing: 0;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
}

td {
    /* border: #3579E6 2px solid!important; */
    border: white 2px solid!important;
    transition: 0.6s!important;
}

td {
    width: 7rem!important;
    height: 7rem!important;
}

tbody {
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
}

#oculto {
    /* background-color: gainsboro!important; */
    background-color: #3579E6 !important;
    transition: 0.6s!important;
    transform: scale(1)!important;
}

#oculto:hover {
    cursor: pointer!important;
}


/* td:hover {
    border: #ffc107 2px solid!important;
} */

#visible {
    background-color: transparent!important;
    transition: 0.6s!important;
}

.img-table {
    /* background-image: url("kimetsu.jpg"); */
    background-position: center!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
}

#respuesta {
    margin-top: 2rem!important;
}

.cargando {
    width: 150px!important;
    height: 150px!important;
}


/* Reset estilos tabla puntuaciones */

.tabla-puntuaciones {
    /* border-spacing: 0; */
    border: black 0px solid!important;
    width: auto!important;
    height: auto!important;
    border-radius: 0.5rem;
    overflow: hidden;
}

.tabla-puntuaciones td {
    border: black 0px solid!important;
}

@media screen and (min-width: 768px) {
    #oculto:hover {
        transform: scale(1.05)!important;
        position: absolute!important;
        /*hace falta para que se super ponga*/
        z-index: 100!important;
        /* background-color: azure; */
        border-radius: 0.5rem;
        overflow: hidden;
    }
}