{% extends 'base.html.twig' %}

{% block title %}Message Private{% endblock %}

{% block body %}
<div class="col">
    <div class="container w-75">
            <h1 class="display-4 text-center my-5 box-header">Message Private</h1>
        
            <div class="row">
                <h4>Send new message private</h4>
                {{form_start(form,{'action':'', 'method':'POST'})}}
                {{form_end(form)}}
            </div>
        </div>
    </div>
</div>
{% endblock %}