{% extends 'base.html.twig' %}

{% block title %}Message Private{% endblock %}

{% block body %}
<div class="col">
    
    <div class="container w-75">

        {% for message in app.session.flashBag.get('msg') %} <!--Mensaje de registro correcto-->
        <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        {{message}} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            {# <span aria-hidden="true">&times;</span> #}
        </button>
        </div>
        {% endfor %}

            <h1 class="display-4 text-center my-5 box-header">Message Private</h1>
        
            {# <div class="row"> #}
                <a href="{{ path('privateMessage')}}" class="btn btn-warning">View received messages</a>
            {# </div> #}


    </div>
</div>
{% endblock %}