{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
<body>
<div class="row">
<h1 class="display-4 mx-auto text-center">{{title}}</h1>
</div>
</body>
{% endblock %}
